<!doctype html> 
<html> 
<head>     
<title>v-look</title>  
{{!-- <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"> --}}
<style>
    header{
        display:table-cell;
        vertical-align: middle;
    }
</style>
</head> 
<body>
    <header>
        <img alt="" src="/img/banner.jpg"/>
    </header>   
    {{{body}}} 

</body> 
</html>